body{
	background-color: #6AB8CC;
}

*{
list-style: none;
text-decoration: none;
}

/*ENCABEZADO - MENU HORIZONTAL - LOGO SUPERIOR*/

.logosup{
	position: absolute;
	width: 250px;
	top: 79px;
}

.titulohead{
	text-align: center;
	background: white;
	width: 100%;
	font-size: 27px;
	font-weight: bold;
	font-family: 'Palanquin Dark', sans-serif;
	margin-top: 17px;
}

.encabezado{
	text-align: center;
	width: 200px;
	height: 200px;
}

.logosup{
	position: absolute;
	left: 4%;
}

.barra-sup{
	background-color: white;
	position: absolute;
	right: 1%;
	width: 72%;
	top: 12.5%;
	height: 52px;
}

.barra-sup a{
	color: black;
	background-color: #56B5CE;
	padding: 10.5px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 12.5px;
}

/*CONTENIDO DE LA PAGINA*/

.menu-izquierda{

	position: absolute;
	width: 30%;
	height: 70%;
	top: 25%;
}

.menu-izquierda h2{
	text-align: center;
	font-size: 20px;
	margin-top: 3%;
}

.menu-izquierda p{
	text-align: center;
	font-size: 20px;
	margin-top: 9px;
	margin: 50px;
	line-height: 140%;
}

.menu-izquierda img{
	width: 95%;
	margin-top: 60px;
}

.menu-central{
	position: absolute;
	right: 11px;
	width: 66%;
	height: 70%;
	top: 45%;
}

.menu-central p{
	position: relative;
	background-color: white;
	width: 100%;
	right: 5%;
	padding: 10px;
	box-shadow: 1px 1px 5px black;
	text-align: center;
	font-size: 25px;
	margin-top: 10px;
}

/*FOOTER*/

footer{
	background-color: #358FA6;
	position: fixed;
	margin: auto;
	text-align: center;
	width: 99%;
	bottom: 0%;
	color: white;
	font-size: 13px;
	font-style: italic;
}